@import "../index.scss";

.dashboard {
  margin: 1em;
  .mainGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10vw;
  }
}

.notifications {
  .card {
    margin: auto;
    width: calc(2em + 40vmin);
    border-radius: 10px;
    .cardheader {
      justify-content: center;
    }
    span.MuiTypography-root-105.MuiTypography-body2-113.MuiCardHeader-title-100 {
      font-size: calc(0.8em + 2vmin) !important;
    }
    .avatar {
      background-color: $primary;
    }
    .MuiCardHeader-avatar-97 {
      margin-right: 1em;
      margin-left: -3em;
    }
    .MuiCardHeader-content-99 {
      flex: none;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    .user {
      color: $secondary;
    }
    .greytext {
      color: gray;
      margin-bottom: 1em;
    }
  }
}
